.pullout-box{background-color:#ededed;padding:.8em;border-radius:.8em;-moz-border-radius:.8em;-webkit-border-radius:.8em;-o-border-radius:.8em}
.header-left{float:left;width:280px;clear:none}
.header-right{float:right;width:680px;text-align:right;vertical-align:middle;line-height:91px}
.quick-service-nav{line-height:normal;display:inline-block;width:350px;vertical-align:middle}
.button-bar{display:inline-block;padding:0;margin:0 4px 0 4px}
button.button,.button{display:inline-block;padding:.5em;margin:0 4px 0 4px;color:#fff;background-color:#428bca;border-radius:4px;border:1px #357ebd solid}
.button:link,.button:visited{background-color:#428bca;color:#fff;text-decoration:none;border:1px #357ebd solid}
.button:hover,.button:active{background-color:#2a6496;color:#fff;text-decoration:none;border:1px #285e8e solid}
#search{line-height:normal;margin:0 0 0 0;display:inline-block;width:195px;vertical-align:middle}
.ccm-search-block-text{position:relative;border:none;height:20px;font-size:12px;margin:4px 4px 4px 4px}
.ccm-search-block-text:focus{outline:none}
.search-box{border:solid 2px #c9c9c9;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-khtml-border-radius:5px;box-shadow:inset 0 0 5px #ddd;width:195px}
.search-box:hover{border:2px solid #b8b8b8}
.search-icon{display:inline-block;height:15px;margin:8px 5px 0 0;float:right}
.email-box{padding:5px;border:solid 2px #c9c9c9;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-khtml-border-radius:5px;box-shadow:inset 0 0 5px #ddd;width:195px}
.email-box:hover{border:2px solid #b8b8b8}
.aspectRatio16x9{position:relative;height:0;padding-bottom:56.25%}
.aspectRatio16x9 iframe{position:absolute;width:100%;height:100%}
.hide-blog-content .ccm-blog-blog-post-content{display:none}
.blog-date{font-style:italic;margin:0 0 .5em 0}
.notifications .notification{padding:1em;border:1px transparent solid;border-radius:4px}
.notifications-area .notifications{margin-top:.4em}
.notifications .notification.info{color:#31708f;background-color:#d9edf7;border-color:#bce8f1}
.notifications .notification.important{color:#a94442;background-color:#f2dede;border-color:#ebccd1}
.sidebar h2,.sidebar h3,.sidebar .column .title{padding:.4em 0 .2em 0;margin:0 0 .5em 0;border-bottom:1px rgba(66,139,202,0.5) solid;font-size:120%;font-weight:bold}
.video table.presentation{width:100%}
.presentation tr.spacer-row{line-height:.7em;height:.7em}
.presentation tr.spacer-row td{margin:0;padding:0;line-height:0}
.presentation.data-types tr.spacer-row td{background-color:#fff}
.presentation.data-types2{width:100%}
.presentation.data-types2>tbody>tr>td{padding:0}
.presentation.data-types2 table{border-collapse:collapse;margin:0;border-style:none}
.presentation.data-type-section tr th:nth-child(1),.presentation.data-type-section tr td:nth-child(1){width:75%}
.presentation.data-type-section tr:last-child th,.presentation.data-type-section tr:last-child td{border-bottom:0}
.presentation.data-type-section tr:nth-child(1) th,.presentation.data-type-section tr:nth-child(1) td{border-top:0}
.presentation.data-type-section th:first-child,.presentation.data-type-section td:first-child{border-left:0}
.presentation.data-type-section th:last-child,.presentation.data-type-section td:last-child{border-right:0}
table.presentation tr.odd>td{background-color:#fff}
table.presentation tr.even>td{background-color:#f7f7f7}
.screengrab{display:inline-block;margin:1em 10px 1.2em 10px;border:1px #c0c0c0 solid;box-shadow:0 0 1em #808080;padding:10px}
.screengrab img{max-width:642px}
.caption{margin:.5em 3em 1em 3em}
.section{margin-top:2em;border-top:1px solid #ccc}
table.layout{border-style:none}
table.layout td{padding:4px}
table.code{font-family:courier,monospace;border-style:none;border-collapse:collapse}
table.code td{border-style:none;margin:0;padding:4px}
.ccm-blog-post-comment-counter{display:none}
.ccm-blog-archive-list li{margin:0 0 10px 0}
.ccm-blog-post-timestamp{font-style:italic}
.ccm-blog-post-category{font-style:italic}
.ccm-blog-post-category:before{content:", "}
.sidebar .ccm-blog-post-content{display:none}
.sidebar .ccm-blog-post{margin-bottom:1em}
.sidebar .ccm-blog-post-category{display:none}
.sidebar .ccm-blog-list .ccm-blog-post .ccm-blog-post-subject{font-weight:normal}
.ccm-blog-list .ccm-blog-post{margin-bottom:1em}
.ccm-blog-list .ccm-blog-post .ccm-blog-post-subject{font-weight:bold}
.kbase-service-status table{width:100%;border-spacing:0;border-collapse:collapse}
.kbase-service-status table tr{row-height:1.3em}
.kbase-service-status table tr th{background-color:#999;color:#fff;padding:.4em;border:1px #ddd solid}
.kbase-service-status .sort-control{cursor:pointer;background-position:right 3px center;background-repeat:no-repeat}
.kbase-service-status .sort-control.sorted{background-color:#5e5e5e}
.kbase-service-status .sort-control.sorted.sort-direction-ascending{background-image:url(/themes/kbase/images/arrow-down-ltgray-16.png)}
.kbase-service-status .sort-control.sorted.sort-direction-descending{background-image:url(/themes/kbase/images/arrow-up-ltgray-16.png)}
.kbase-service-status table tr td{margin:0;padding:.4em}
.kbase-service-status table tr:nth-child(odd){background-color:#eee}
.kbase-service-status table tr:nth-child(even){background-color:#ddd}
.kbase-service-status .glass{display:none}
.kbase-service-status .status{color:#fff;text-align:center}
.kbase-service-status .status.status-ok{background-color:#42831f}
.kbase-service-status .status.status-crit{background-color:#f00}
.kbase-service-status .time{text-align:right;padding-right:2em}
.kbase-service-status .time.time-normal{background-color:#42831f}
.kbase-service-status .time.time-slow{background-color:#ff0}
.kbase-service-status .time.time-sluggish{background-color:#ffa500}
.kbase-service-status .time.time-crawling{background-color:#ff6363}
.kbase-service-status table tr td{border:1px #ddd solid}
table.presentation{width:normal;border-spacing:0;border-collapse:collapse}
table.presentation.full{width:100%}
table.presentation tr{row-height:1.3em}
table.presentation tr th{background-color:#eee;color:#000;padding:.4em;font-weight:bold;border:1px #ddd solid}
table.presentation tr td{border:1px #ddd solid;padding:.4em}
table.presentation.striped tr:nth-child(even){background-color:#f7f7f7}
table.presentation .number{text-align:right;padding-right:.5em}
table.bare{width:normal;border-spacing:0;border-collapse:collapse;margin:0}
table.bare tr{row-height:1.3em}
table.bare tr th{background-color:#999;color:#fff;padding:.4em;border-style:none}
table.bare tr td{border-style:none;padding:.3em}
.top-nav{width:100%;display:block}
.top-nav .autonav>ul{display:block;margin:0;text-align:left}
.top-nav .autonav li{margin:0;xfloat:left;display:inline-block;list-style:none;font-size:14px;border:solid #444;border-width:4px 4px 0 4px;background:#444}
.top-nav .autonav li a{display:block;margin:4px 20px 6px 20px;color:#eaffed;text-shadow:0 2px 3px #222}
.top-nav .autonav li span{display:block;margin:4px 20px 6px 20px;color:#eaffed;}
.top-nav .autonav li ul{visibility:hidden;position:absolute;margin:6px 0 0 -24px;padding:7px 0 5px 0;border:solid #888;border-width:0 4px 4px 4px;background:#f2f2f2;background-image:linear-gradient(bottom, #dbdbdb 0, #fff 100%);background-image:-o-linear-gradient(bottom, #dbdbdb 0, #fff 100%);background-image:-moz-linear-gradient(bottom, #dbdbdb 0, #fff 100%);background-image:-webkit-linear-gradient(bottom, #dbdbdb 0, #fff 100%);background-image:-ms-linear-gradient(bottom, #dbdbdb 0, #fff 100%);background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #dbdbdb), color-stop(1, #fff));-moz-box-shadow:1px 4px 4px rgba(100,170,170,0.5);-webkit-box-shadow:1px 4px 4px rgba(110,110,110,0.5);box-shadow:1px 4px 4px rgba(110,110,110,0.5);z-index:999}
.top-nav .autonav li ul li{float:none;display:inline;font-size:12px;background:#fefefe;font-weight:400;border:none;position:relative;z-index:10}
.top-nav .autonav li ul li a{text-align:left;min-width:130px;color:#08c;text-shadow:none}
.top-nav .autonav li span.arrow-down{float:right;margin:7px 0 0 2px;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #eaffed}
.top-nav>.autonav>ul>li>a.nav-dropdown:hover{text-decoration:none}
.top-nav>.autonav>ul>li>.nav-dropdown,.top-nav>.autonav>ul>li>a{display:block;margin:0}
.top-nav>.autonav>ul>li{padding:4px 20px 6px 20px}
.left-content-area .autonav ul{list-style:none;padding:0 0 0 0;margin:5px 0 0 0}
.left-content-area .autonav ul ul{padding:0 0 0 12px}
.left-content-area .autonav li{margin:0}
.left-content-area .autonav a{display:block;padding:5px}
.left-content-area .nav-path-selected{font-weight:bold}
.left-content-area .nav-path-selected.nav-selected{font-weight:normal}
.left-content-area a.nav-selected{background-color:#08c;color:#fff;padding-right:16px;background-image:url('/themes/kbase/images/reverse-triangle.png');background-repeat:no-repeat;background-position:right top;background-size:10px 100%;background-origin:border-box;background-clip:border-box}
.faq .item{margin:1em 0 0 0;border-bottom:1px #c0c0c0 solid;padding:.3em}
.faq .question{font-weight:bold;font-size:120%;margin-bottom:.4em}
.faq .answer{margin-left:1em}
.faq>a{font-size:1.5em;font-weight:bold}
.faq a:hover{cursor:pointer;cursor:hand}
.faq-answer{display:none}
*{margin:0}
html,body{height:100%}
.sticky-body{min-height:100%;height:auto !important;height:100%;margin-bottom:-150px}
.sticky-footer,.sticky-push{height:150px}
html{height:100%}
body{margin:0;color:#000;font-size:14px;font-weight:normal;font-family:Arial,Helvetica,sans-serif}
h1,h2,h3,h4{font-weight:bold}
h1{font-size:180%;margin:0 0 .8em 0}
h2{font-size:150%;margin:1em 0 .4em 0}
h3{font-size:120%;margin:1em 0 .4em 0}
h3:nth-child(1){margin-top:0}
h4{margin:1em 0 .4em 0}
h5{font-weight:normal;font-style:italic;margin:1em 0 .4em 0}
p,li{font-size:100%;margin:0 0 .5em 0;line-height:1.4em}
ul{line-height:1.3em;padding-left:1.3em;margin:0 0 .5em 0}
table{margin-bottom:.6em}
a{color:#428bca;text-decoration:none}
a:visited{color:#428bca}
a:hover{text-decoration:underline;color:#2a6496}
a[name]{color:#000}
a[name]:hover{text-decoration:none}
.container{width:960px;margin-left:auto;margin-right:auto}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}
* html .clearfix{height:1%}
.clearfix{display:block}
.clearfix2:before,.clearfix2:after{content:"";display:table}
.clearfix2:after{clear:both}
.clearfix2{zoom:1;}
.clearfix3:after{content:"";display:table;clear:both}
a img{border:none}
pre{background:#f5f5f5;border:1px solid #dedee3;overflow:auto;padding:5px;margin-left:1em;font-size:1em}
h2 a:hover{text-decoration:underline}
.personnel{page-break-inside:avoid;margin:0 0 1em 0}
.personnel:before,.personnel:after{content:" ";display:table;}
.personnel:after{clear:both}
.personnel{*zoom:1}
.personnel img{display:inline-block;float:left;margin:0 10px 0 0;padding:10px;border:1px solid #aaa;background:#f9f9f9;-moz-box-shadow:0 0 3px #aaa;-webkit-box-shadow:0 0 3px #aaa;box-shadow:0 0 2px #aaa}
.login-container{width:175px;float:right;color:#eaffed;margin:0 4px 0 0}
.hide{display:none}
.leftnav-extra{padding:10px;background-color:#ededed;-moz-border-radius:10px;-webkit-border-radius:10px;-o-border-radius:10px;border-radius:10px}
.roundbox{background-color:#eee8cd;color:#000;border:thin #808080 solid;-moz-border-radius:25px;border-radius:25px;padding:1em 1em 1em 1em;margin:1em 1em 1em 1em}
.dropcap{float:left;font-size:1.5em;line-height:1.5em;padding-right:.5em;font-weight:bold}
pre>.output{font-family:"Times New Roman",serif;font-size:.8em}
.swp-breadcrumbs{font-size:.6em}
.data-table{}
.data-table td{padding:.5em}
.data-table th{padding:.5em;font-family:Arial,sans-serif;font-weight:bold;text-align:left}
.arrow-down{xvisibility:hidden}
.rounded-box{background-color:#ededed;border:0 #ededed solid;-moz-border-radius:10px;border-radius:10px;padding:1em 1em 1em 1em;margin:0 0 0 0}
table.data-table{border-collapse:collapse}
table.data-table tr:nth-child(1) th{padding:0 0 1em 0}
table.data-table td,table.data-table th{vertical-align:top;padding:.5em .2em .5em .2em;text-align:left}
table.datasources tr.spacer{height:1em}
table.datasources tr.spacer td{border-style:none}
table.data-table tr{padding-top:1em}
table.data-table tr.section{padding-top:2em}
table.data-table tr.section td{font-weight:bold;font-size:110%;xpadding-top:1em;background-color:#e0e0e0;border-bottom:1px #9d9e9d solid}
table.data-table tr.source td{border-bottom:1px #e0e0e0 solid}
table.data-table tr td{border-bottom:1px #e0e0e0 solid}
.footer-column .share-icon img{width:32px;height:32px}
.footer-column .share-icon img:hover{opacity:.8}
.footer-column .share-icon,.footer-column .share-icon:hover{text-decoration:none}
.left-nav-title{font-size:120%;font-weight:bold;border-bottom:1px #e0e0e0 solid;margin:0 0 .5em 0}
.bannerArea{width:100%;background-color:#fff}
.bannerArea .container{width:960px}
.toplogo{margin:5px 0 0 30px;float:left}
.toplogo a{float:left;padding:0;margin:0;border-style:none;line-height:0}
.top-nav-area{width:960px;background:#444;margin-left:auto;margin-right:auto}
.contentArea{width:100%;background-color:#fff}
.contentArea .container{padding-top:30px;padding-bottom:30px;background-image:url("../images/kbase_doc_content_bkgd.jpg");background-repeat:no-repeat}
.kbase-left .title-area{width:960px;margin:0 auto}
.kbase-left.kbase-blog-post .title-area{font-weight:bold;font-size:120%;margin:0 0 .5em 0}
.kbase-left .title-area .column{margin:0 1em 0 15px}
.kbase-left .left-content-area{width:709px;float:left;border-right:1px solid #aaa}
.kbase-left .right-content-area{float:left;width:250px}
.kbase-left .left-content-area .column{margin:0 1em 0 15px}
.kbase-left .right-content-area .column{margin:1em 1em 0 1.5em}
.right-column{padding-top:20px;float:left;padding-left:30px;width:210px}
.kbase-right .title-area{width:960px;margin:0 auto}
.kbase-right .left-content-area{width:250px;margin:0;padding:0;float:left}
.kbase-right .right-content-area{width:710px;margin:0;padding:0;float:right}
.kbase-right .title-area .column{margin:0 1em 0 1em}
.kbase-right .left-content-area .column{margin:1em 1em 1em 1em}
.kbase-right .right-content-area .column{margin:0 1em 1em 1em}
.doc-left-container{max-height:700px;position:relative;float:left}
.kbase-full .title-area{width:960px;margin-left:auto;margin-right:auto}
.kbase-full .main-content-area{width:960px;margin-left:auto;margin-right:auto}
.kbase-full .title-area .column{margin:0 1em 0 1em}
.kbase-full .main-content-area .column{margin:0 1em 0 1em}
.kbase-search-results .title-area{width:960px;margin-left:auto;margin-right:auto}
.kbase-search-results .main-content-area{width:960px;margin-left:auto;margin-right:auto}
.kbase-search-results .title-area .column{margin:0 1em 0 1em}
.kbase-search-results .main-content-area .column{margin:0 1em 0 1em}
.content-split-top{float:top;width:940px;margin:auto 0 25px auto}
.content-split-left{float:left;width:450px;margin-left:10px}
.content-split-right{float:right;width:450px;margin:170px 0 0 10px}
.imageright{margin-left:5px;float:right}
.content-doc-left ul a{font-size:1.17em}
.content-doc-left li a{font-size:1em}
.sticky-footer{position:relative}
.footer{background-color:#e6e6e6;border-top:2px solid #999;padding:20px 0;position:absolute;bottom:0;width:100%}
.footer li{line-height:15px}
.footer-column{width:280px;float:left;margin:0 20px}
.footer-column ul{padding:0}
.footer-column li{list-style-type:none}
