
@charset "UTF-8";

@font-face {
    font-family: 'OxygenRegular';
    src: url('http://kbase.us/themes/kbase/fonts/Oxygen-webfont.eot');
    src: url('http://kbase.us/themes/kbase/fonts/Oxygen-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://kbase.us/themes/kbase/fonts/Oxygen-webfont.woff') format('woff'),
         url('http://kbase.us/themes/kbase/fonts/Oxygen-webfont.ttf') format('truetype'),
         url('http://kbase.us/themes/kbase/fonts/Oxygen-webfont.svg#OxygenRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OxygenItalic';
    src: url('http://kbase.us/themes/kbase/fonts/Oxygen-Italic-webfont.eot');
    src: url('http://kbase.us/themes/kbase/fonts/Oxygen-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://kbase.us/themes/kbase/fonts/Oxygen-Italic-webfont.woff') format('woff'),
         url('http://kbase.us/themes/kbase/fonts/Oxygen-Italic-webfont.ttf') format('truetype'),
         url('http://kbase.us/themes/kbase/fonts/Oxygen-Italic-webfont.svg#OxygenItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OxygenBold';
    src: url('http://kbase.us/themes/kbase/fonts/Oxygen-Bold-webfont.eot');
    src: url('http://kbase.us/themes/kbase/fonts/Oxygen-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://kbase.us/themes/kbase/fonts/Oxygen-Bold-webfont.woff') format('woff'),
         url('http://kbase.us/themes/kbase/fonts/Oxygen-Bold-webfont.ttf') format('truetype'),
         url('http://kbase.us/themes/kbase/fonts/Oxygen-Bold-webfont.svg#OxygenBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OxygenBoldItalic';
    src: url('http://kbase.us/themes/kbase/fonts/Oxygen-BoldItalic-webfont.eot');
    src: url('http://kbase.us/themes/kbase/fonts/Oxygen-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://kbase.us/themes/kbase/fonts/Oxygen-BoldItalic-webfont.woff') format('woff'),
         url('http://kbase.us/themes/kbase/fonts/Oxygen-BoldItalic-webfont.ttf') format('truetype'),
         url('http://kbase.us/themes/kbase/fonts/Oxygen-BoldItalic-webfont.svg#OxygenBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OxygenMonoRegular';
    src: url('http://kbase.us/themes/kbase/fonts/OxygenMono-Regular-webfont.eot');
    src: url('http://kbase.us/themes/kbase/fonts/OxygenMono-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://kbase.us/themes/kbase/fonts/OxygenMono-Regular-webfont.woff') format('woff'),
         url('http://kbase.us/themes/kbase/fonts/OxygenMono-Regular-webfont.ttf') format('truetype'),
         url('http://kbase.us/themes/kbase/fonts/OxygenMono-Regular-webfont.svg#OxygenMonoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoBlack';
    src: url('http://kbase.us/themes/kbase/fonts/Roboto-Black-webfont.eot');
    src: url('http://kbase.us/themes/kbase/fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://kbase.us/themes/kbase/fonts/Roboto-Black-webfont.woff') format('woff'),
         url('http://kbase.us/themes/kbase/fonts/Roboto-Black-webfont.ttf') format('truetype'),
         url('http://kbase.us/themes/kbase/fonts/Roboto-Black-webfont.svg#RobotoBlack') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

body {
	margin: 0px;
	color: #333333;
	font-size: 13px;
    font-weight: normal;
	font-family: 'OxygenRegular', Arial, Helvetica, sans-serif;
}
h1 {
	font-size: 24px;
    font-weight: normal;
    font-family: 'RobotoBlack', Arial, Helvetica, sans-serif;
	margin: 3px 0 25px 0;
}
h2 {
	font-size: 18px;
    font-weight: normal;
    font-family: 'RobotoBlack', Arial, Helvetica, sans-serif;
	margin: 15px 0;
}
h3 {
	margin: 12px 0;
    font-weight: normal;    
    font-family: 'RobotoBlack', Arial, Helvetica, sans-serif;    
}

strong, b {
    font-family: 'OxygenBold';
    font-weight: normal;
}

p, li, div.ccm-page-list-description {
	font-size: 1em;
	margin: 0px;
	line-height: 1.3em;
	margin-bottom: 10px;
}

ul {
    line-height: 1.3em;    
}

a {
	color: #08C;	
	text-decoration: none;
}
a:visited  {
	color: #08C;
}
a:hover    {
	text-decoration: underline;
	color: #005580;
}

/* don't style for anchors */
a[name] { color: #333333; }
a[name]:hover{ text-decoration: none; }

.container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.clearfix:after { 
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden; 
}
.clearfix { 
  display: inline-block;  
}
* html .clearfix {  
  height: 1%;  
} /* Hides from IE-mac \*/
.clearfix {  
  display: block;  
}

a img{
	border: none;
}

/* BANNER AREA */
.bannerArea {
	width: 100%;
	height: 83px;
	background-color: #FFFFFF;
}

.bannerArea .container {
	width: 960px;
	height:83px;
}

.toplogo {
	margin: 5px 0 0 30px;
    float: left;
}

#search{
    margin: 20px 0 0 0;
	float: right;
}

/* Top Navigation */
.top-nav-area {
    width: 960px;    
    background: #444;
    margin-left: auto;
    margin-right: auto;
}


.top-nav li {
	margin: 0; /* override default li */
	float: left;
	list-style: none;
	font: 14px Arial, Helvetica, sans-serif;
	font-weight: 700;
	border: solid #444;
	border-width: 4px 4px 0 4px;
	background: #444;
}

.top-nav li a{
	display: block;
    font-family: Arial, Helvetica, sans-serif;
	margin: 4px 20px 6px 20px;
	color: #EAFFED;
	text-shadow: 0px 2px 3px #222;
}
.top-nav li span{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px 20px 6px 20px;
    color: #EAFFED;
    /*text-shadow: 0px 2px 3px #222;*/
}

.top-nav li ul {	
	visibility: hidden;
	position: absolute;
	margin: 0 0 0 -4px;
	padding: 7px 0 5px 0;
	border: solid #888;
	border-width: 0 4px 4px 4px;
	background: #f2f2f2;
	background-image: linear-gradient(bottom, rgb(219,219,219) 0%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(219,219,219) 0%, rgb(255,255,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(219,219,219) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(219,219,219) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(219,219,219) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(219,219,219)), color-stop(1, rgb(255,255,255)));
	-moz-box-shadow: 1px 4px 4px rgba(100,170,170,0.5);
	-webkit-box-shadow: 1px 4px 4px rgba(110,110,110,0.5);
	box-shadow: 1px 4px 4px rgba(110,110,110,0.5);
	z-index: 999;
}

.top-nav li ul li{	
	float: none;
	display: inline;
	font-size: 12px;
	background: #FEFEFE;
	font-weight: 400;
	border: none;
	position: relative;
	z-index:10;
}
	
.top-nav li ul li a {
    font-family: Arial, Helvetica, sans-serif;    
	text-align: left;
	min-width: 130px;
 	color: #08C;
	text-shadow: none;
}

.arrow-down {
	float: right;
	margin: 7px 0 0 2px ;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #EAFFED;
}


/* CONTENT AREAS */
.contentArea {
	width: 100%;
    background-color: #fff;    
}
.contentArea .container {
	padding-top: 30px;
	padding-bottom: 30px;
    background-image: url("http://kbase.us/themes/kbase/images/kbase_doc_content_bkgd.jpg");
    background-repeat: no-repeat;
}

.contentleft {
	width: 630px;
	padding-left: 40px;
	padding-right: 40px;
	float: left;
	border-right: 1px solid #aaa;
}

.contentright {
	padding-top: 20px;
	float: left;
	padding-left: 30px;
	width: 210px;
}

.content-doc-left {
	width: 230px;
	margin-top: 0px;
    float: left;
}
.doc-left-container {
	max-height: 700px;
	position: relative;	
    /*overflow-y: scroll;*/
	float: left;
}

.content-doc-right {
	width: 670px;
	padding-left: 20px;
	padding-right: 20px;
	float: right;
}

.contentfull {
	width: 920px;
	margin-left: auto;
	margin-right: auto;
}

.content-split-top {
	float: top;
	width: 940px;
	margin: auto 0 25px auto;
}

.content-split-left {
	float: left;
	width: 450px;
	margin-left: 10px;
}
.content-split-right {
	float: right;
	width: 450px;
	margin: 170px 0 0 10px;
}
.imageright {	
	margin-left: 5px;
	float: right;
}
.content-doc-left ul {
    list-style: none;
    padding: 0 0 0 12px;
    margin: 5px 0 0 0;
}
.content-doc-left ul a{
    font-size: 1.17em; 
}
.content-doc-left li a{
    font-size: 1em;
}
/*
.content-doc-left ul,
.content-doc-left ul li a{
    font-size: 1.17em;
    font-weight: 700;
    list-style: none;
    padding-left: 0;
}
.content-doc-left ul li ul,
.content-doc-left ul li ul li {
    font-size: 1.17em;
    margin: 10px 0 0 12px;
    list-style: none;
    padding-left: 0;
}

.content-doc-left ul li ul li ul{
    font-size: 13px;
    margin: 10px 0 0 15px;
    list-style: none;
    padding-left: 0;
}
*/
/* documentation styling */
a.nav-path-selected {
    color: #444;
}

pre {
	/*width: 99%;*/
    background: #F5F5F5;
    border: 1px solid #DEDEE3;
	overflow: auto;
	padding: 5px;
	margin-left: 1em;
	font-size: 1em;
}

/**** New CSS ****/
div.ccm-blog-post-preview h2{
    font-size: 14px;
}

.ccm-blog-blog-post-comment-counter {
	display: none;
}

ul.ccm-blog-archive-list li{
    margin: 0 0 10px 0;
}

h2 a:hover {
	text-decoration: underline;
}

/* FAQ styling */
.faq a:hover {
	cursor: pointer;
	cursor: hand;
}
.faq-answer {
	display: none;
}

/* Search Styling */
.ccm-search-block-text {
    position: relative;
    border: none;
    height: 20px;
    font-size: 12px;
    margin: 4px 4px 4px 4px;
}
.ccm-search-block-text:focus {
    outline: none;
}


.search-box {
    border: solid 2px #C9C9C9;
    border-radius: 5px; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    -khtml-border-radius: 5px;
    box-shadow:  inset 0 0 5px #ddd;
    width: 195px;
}

.search-box:hover {
    border: 2px solid #B8B8B8;
}

.search-icon {
    display: inline-block;
    height: 15px;
    margin: 8px 5px 0 0;
    float: right;
}

/* About Personnel */
.personnel img {
	display: inline-block;
	float: left;
	margin: 0 10px 0 0;
	padding: 10px;
	border: 1px solid #aaa;
	background: #f9f9f9;

	-moz-box-shadow: 0 0 3px #aaa;
	-webkit-box-shadow: 0 0 3px #aaa;
	box-shadow: 0 0 2px #aaa;
}

.login-container {
    width: 175px;
    float: right;
    color:#EAFFED;
    margin: 0 4px 0 0;
}

#login,
#logout {
    float: right;
}

#login-state {
    float: right;
    margin: 8px 4px 4px 0;
}

.hide {
    display: none;
}

#footer{
    height: inherit;
    background-color: #e6e6e6;
    border-top: 2px solid #999;
    padding: 20px 0;
}

#footer li {
    line-height: 15px;
}

.footer-column {
    width: 280px;
    float: left;
    margin: 0px 20px;
}
.footer-column ul {
    padding: 0;
}
.footer-column li {
    list-style-type: none;
}
